<?xml version="1.0" encoding="UTF-8" ?>

<phpunit>
    <php>
        <var name="DB_DSN" value="mysql:dbname=Paczkolab; host=localhost" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="coderslab" />
        <var name="DB_NAME" value="Paczkolab" />
    </php>
</phpunit>

<testsuites>
    <testsuite name="All">
        <directory>./tests</directory>
        <!--<file>/test/UserTest.php</file>-->
        <!-- <exclude>/tests/quarantine</exclude>-->
    </testsuite>
</testsuites>